# Misc
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/flutter_assets/
ios/Flutter/engine/

# Keep workspace but ignore user data
ios/Runner.xcworkspace/xcuserdata/

# Optional (team-based decision)
# Podfile.lock

# Node
node_modules/
.env
