<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>API_KEY</key>
        <string>AIzaSyDKOUS9kg3RGj5achUzZ6oh4RpwsQ5fbIc</string>
        <key>GCM_SENDER_ID</key>
        <string>227172104482</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.astrobharatai.astrouser</string>
        <key>PROJECT_ID</key>
        <string>astrobharatai-db3cf</string>
        <key>STORAGE_BUCKET</key>
        <string>astrobharatai-db3cf.firebasestorage.app</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:227172104482:ios:80125179aa8f3f8c778d7b</string>
</dict>
</plist>